- page_title 'Preferences'
= render 'profiles/head'

= form_for @user, url: profile_preferences_path, remote: true, method: :put, html: { class: 'row prepend-top-default js-preferences-form' } do |f|
  .col-lg-3.profile-settings-sidebar
    %h4.prepend-top-0
      Application theme
    %p
      This setting allows you to customize the appearance of the site, e.g. the sidebar.
  .col-sm-12
    %hr
  .col-lg-3.profile-settings-sidebar
    %h4.prepend-top-0
      Syntax highlighting theme
    %p
      This setting allow you to customize the appearance of the syntax.
  .col-lg-9.syntax-theme
    - Gitlab::ColorSchemes.each do |scheme|
      = label_tag do
        .preview= image_tag "#{scheme.css_class}-scheme-preview.png"
        = f.radio_button :color_scheme_id, scheme.id
        = scheme.name
  .col-sm-12
    %hr
  .col-lg-3.profile-settings-sidebar
    %h4.prepend-top-0
      Behavior
    %p
      This setting allows you to customize the behavior of the system layout and default views.
  .col-lg-9
    .form-group
      = f.label :layout, class: 'label-light' do
        Layout width
      = f.select :layout, layout_choices, {}, class: 'form-control'
      .help-block
        Choose between fixed (max. 1200px) and fluid (100%) application layout.
    .form-group
      = f.label :dashboard, class: 'label-light' do
        Default Dashboard
        = link_to('(?)', help_page_path('profile/preferences') + '#default-dashboard', target: '_blank')
      = f.select :dashboard, dashboard_choices, {}, class: 'form-control'
    .form-group
      = f.label :project_view, class: 'label-light' do
        Project view
        = link_to('(?)', help_page_path('profile/preferences') + '#default-project-view', target: '_blank')
      = f.select :project_view, project_view_choices, {}, class: 'form-control'
      .help-block
        Choose what content you want to see on a project's home page.
    .form-group
      = f.submit 'Save changes', class: 'btn btn-save'
